# ignore swp and complied code and documents
*.swp
*.docx
*.log
command/timeserver/timeserver
command/authserver/authserver
command/loadgen/loadgen
command/monitor/monitor
test/*
*.tar.gz
*.tar
look\ at\ for\ shell\ help.sh

